.skills-container {
    background-color: white;
}

.tech-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
}
.tech-card {
    background-color: #8080800f;
    min-width: 150px;
    height: 60px;
    margin: 20px;
    display: flex;
    align-items: center;
    padding: 3px 15px;
    border-radius: 3px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 2px 4px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    transition: all 0.1s ease-in-out;
    transform: scale(1);
    font-size: 0.8em;
}

.tech-card:hover {
    /*animation: wiggle 2s infinite;*/
    transform: scale(1.15);
}
.tech-image-container {
    display: flex;
    align-items: center;
}
.tech-card:hover::after {
    color:goldenrod;
    font-weight: 700;
    position: absolute;
    top:-25px;
    right:0;
    animation: tada 1.5s infinite;
}
.five-stars:hover::after {
    content: "★★★★★";
}
.four-stars:hover::after {
    content: "★★★★☆";
}
.three-stars:hover::after {
    content: "★★★☆☆";
}
.two-stars:hover::after {
    content: "★★☆☆☆";
}
.one-star:hover::after {
    content: "★☆☆☆☆";
}
.king-star:hover::after {
    content: "👑";
    top:-30px;
    font-size: 22px;
}

.tech-image {
    width: 45px;
    height: 45px;
    margin: 0;
    padding: 0;
}
.tech-text {
    margin: auto;
    color: black;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    80% { transform: rotate(0deg); }
    85% { transform: rotate(7deg); }
    95% { transform: rotate(-7deg); }
    100% { transform: rotate(0deg); }
}
@keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes wow {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1920px) {

}

@media screen and (max-width: 1536px) {
    .tech-card {
        height: 55px;
    }
    .tech-card:hover::after {
        top:-20px;
    }
    .king-star:hover::after {
        content: "👑";
        top:-30px;
        font-size: 20px;
    }
}

@media screen and (max-width: 1440px) {
    .tech-card {
        height: 50px;
        margin: 15px;
    }
    .link {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 1366px) {
    .tech-card {
        height: 50px;
        margin: 15px;
    }
    .tech-image {
        width: 40px;
        height: 40px;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 1280px) {

}