@keyframes wiggle {
  0% { transform: rotate(0deg); }
  80% { transform: rotate(0deg); }
  85% { transform: rotate(7deg); }
  95% { transform: rotate(-7deg); }
  100% { transform: rotate(0deg); }
}

@keyframes wow {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  margin-top:65px;
  max-width: 1920px;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.canvas-container {
  overflow: hidden;
  /*height: 100vh;*/
  position: relative;
}

.type-animation-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: -30px;
  left:9%;
  position: absolute;
  color: white;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.5em;
  pointer-events: none;
  max-width: 1920px;
}
.type-animation-container {
  font-size: 1em;
  font-weight: 700;
  display: flex;
  flex-direction: row;
}

.type-animation-head {
  display: flex;
}
.type-animation {
  color: #3b82f6;
}

.type-animation-description {
  font-size: 0.45em;
  width: 750px;
  margin-top: 5px;
  text-align: left;
  font-weight: 400;
}

.links {
  margin-top: 10px;
  display: flex;
  pointer-events: auto;
  width: 250px;
}

.links > a {
  margin: 0 20px;
  transform: scale(1);
  transition: all .1s ease-in-out;
}

.links > a:first-child {
  margin: unset;
}

.links > a:hover {
  transform: scale(1.115);
}

.resume-container {
  margin-top: 10px;
  pointer-events: auto;
  width: fit-content;
  display: flex;
  align-items: center;
  align-content: center;
  font-weight: 400;
  border-radius: 5px;
  background-color:#3b82f6;
}

.resume-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  width: 250px;
  height: 55px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.resume-container:hover {
  background-color: rgba(59, 130, 246, 0.85);
}

.a-link {
  color: white;
  pointer-events: auto;
}

.a-link:hover {
  cursor: pointer;
}

.section-container {
  padding-top: 10px;
  min-height: 100vh;
}

.my-logo {
  width: 180px;
  transform: rotate(357deg);
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 18px;
  }
}


@media only screen and (max-width: 500px) {
  .type-animation-main-container {
    pointer-events: auto;
    top: -15px;
    left: unset;
    align-items: center;
    }
  .type-animation-head {
    font-size: 25px;
  }
  .type-animation-container {
    font-size: 25px;
  }
  .type-animation-description {
    font-size: 15px;
    width: 300px;
    line-height: 1.24em;
  }
  .my-logo {
    width: 180px;
    transform: rotate(356deg);
  }
  .type-animation {
    overflow: hidden;
  }
  .links > a {
    margin: 0 10px;
  }

}


