@keyframes wiggle {
  0% { transform: rotate(0deg); }
  80% { transform: rotate(0deg); }
  85% { transform: rotate(5deg); }
  95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes wow {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.App {
  text-align: center;
  margin-top:65px;
}

body {
  /*overflow: hidden;*/
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.canvas-container {
  overflow: hidden;
  height: 100vh;
}

.type-animation-main-container {
  position: absolute;
  top: 30%;
  left:10%;
  color: white;
  margin-left: 20px;
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 0.5em;
  pointer-events: none;
}
.type-animation-container {
  font-size: 1em;
  font-weight: 700;
  display: flex;
  flex-direction: row;
}

.type-animation-head {
  display: flex;
}
.type-animation {
  color: #3b82f6;
}

.type-animation-description {
  font-size: 0.35em;
  width: 750px;
  margin-top: 5px;
  text-align: left;
  font-weight: 400;
}

.links {
  margin-top: 20px;
  display: flex;
  pointer-events: auto;
}

.links > a {
  margin: 0 20px;
  transform: scale(1);
  transition: all .1s ease-in-out;
}

.links > a:first-child {
  margin: unset;
}

.links > a:hover {
  transform: scale(1.115);
}

.resume-container {
  margin-top: 10px;
  pointer-events: auto;
  width: fit-content;
  display: flex;
  align-items: center;
  align-content: center;
  font-weight: 400;
  border-radius: 5px;
  background-color:#3b82f6;
}

.resume-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  width: 300px;
  height: 55px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.resume-container:hover {
  background-color: rgba(59, 130, 246, 0.85);
}
svg {

}

.section-container {
  padding-top: 20px;
  height: 100vh;
}

.project-container {
  background-color: red;
}
.tech-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: auto;
}
.tech-card {
  background-color: #8080800f;
  width: 160px;
  height: 60px;
  margin: 20px;
  display: flex;
  align-items: center;
  padding: 3px 15px;
  border-radius: 3px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 2px 4px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  transition: width 0.1s;
}

.tech-card:hover {
  animation: wiggle 2s infinite;
  width: 170px;
}
.tech-image-container {
  display: flex;
  align-items: center;
}
.tech-image {
    width: 45px;
    height: 45px;
    margin: 0;
    padding: 0;
}
.tech-text {
  margin: auto;
  color: black;
}


