.nav-main-container {
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    overflow: hidden;

}
li {
    list-style: none;
}

.nav-li {
    margin: 0 45px;
}
.link {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;
    /*padding-bottom: 5px;*/
    border-bottom: 2px solid transparent;
}

.link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #3b82f6;
    transition: width .3s;
}

.link:hover::after {
    width: 100%;
    transition: width .3s;
}